# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
latitude:
longitude:
elevation:

konnected_api_host:

konnected_mac_address:

alarm_pin_code:
