# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
latitude: 1.0
longitude: 1.0
elevation: 1.0

konnected_api_host: http://me.com:8123

konnected_mac_address: 000000000000

alarm_pin_code: xxxxxx
