# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
latitude: xxxxxx
longitude: xxxxxx
elevation: xxxxxx

konnected_api_host: xxxxxx

konnected_mac_address: xxxxxx

alarm_pin_code: xxxxxx
